/* global.css */
 
@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* width */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #d6d6d6;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(2 132 199);
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(7 89 133);
}